@model CMDB.Models.DBEntities.Accessories

@{
    ViewData["Title"] = "Accessories Module - Create";
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h1>@ViewData["Title"]</h1>
<hr />

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}

<form action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Type</label>
        <input type="text" class="form-control" asp-for="Type" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Manufacturer</label>
        <input type="text" class="form-control" asp-for="Manufacturer" />
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">SerialNumber</label>
        <input type="text" class="form-control" asp-for="SerialNumber" />
        <span asp-validation-for="SerialNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">PurchaseDate</label>
        <input type="date" class="form-control" asp-for="PurchaseDate" />
        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">WarrantyExpiration</label>
        <input type="date" class="form-control" asp-for="WarrantyExpiration" />
        <span asp-validation-for="WarrantyExpiration" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Employees</label>
        <input type="text" class="form-control" asp-for="Employees" />
        <span asp-validation-for="Employees" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
