@model CMDB.Models.DBEntities.Accessories

@{
    ViewData["Title"] = "Accessories Module - Create";
    var errorMessage = TempData["errorMessage"]?.ToString();
}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const today = new Date().toISOString().split('T')[0];
        document.getElementById('PurchaseDate').value = today;

        const twoYearsFromNow = new Date();
        twoYearsFromNow.setFullYear(twoYearsFromNow.getFullYear() + 2);
        const formattedTwoYearsFromNow = twoYearsFromNow.toISOString().split('T')[0];
        document.getElementById('WarrantyExpiration').value = formattedTwoYearsFromNow;
    });
</script>
<style>
    .create-container {
        max-width: 1000px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 4px 30px rgba(0,0,0,0.3);
        padding: 20px;
    }
    .create-header {
        background: #f1efe7;
        color: #000;
        border-radius: 15px;
        padding: 15px;
        text-align: center;
    }
    .create-body {
        padding: 20px;
    }
    .create-label {
        font-weight: bold;
        margin-right: 10px;
        align-self: center;
        min-width: 150px; /* Adjust the width as needed */
    }
    .create-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #e9ecef;
    }
    .create-row:last-child {
        border-bottom: none;
    }
    .create-footer {
        display: flex;
        justify-content: center;
        padding: 15px;
    }
</style>

<div class="d-flex justify-content-center align-items-center">
    <div class="create-container">
        <div class="create-header">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="create-body">
            @if (!string.IsNullOrWhiteSpace(errorMessage))
            {
                <div class="alert alert-danger">
                    <strong>Error! </strong>@errorMessage
                    <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
                </div>
            }

            <form asp-action="Create" method="post">
                <div class="create-row">
                    <label class="create-label" for="Name">Name:</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="create-row">
                    <label class="create-label" for="Type">Type:</label>
                    <input type="text" class="form-control" asp-for="Type" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="create-row">
                    <label class="create-label" for="Manufacturer">Manufacturer:</label>
                    <input type="text" class="form-control" asp-for="Manufacturer" />
                    <span asp-validation-for="Manufacturer" class="text-danger"></span>
                </div>
                <div class="create-row">
                    <label class="create-label" for="SerialNumber">Serial Number:</label>
                    <input type="text" class="form-control" asp-for="SerialNumber" />
                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                </div>
                <div class="create-row">
                    <label class="create-label" for="PurchaseDate">Purchase Date:</label>
                    <input type="date" class="form-control" asp-for="PurchaseDate"/>
                    <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                </div>
                <div class="create-row">
                    <label class="create-label" for="WarrantyExpiration">Warranty Expiration:</label>
                    <input type="date" class="form-control" asp-for="WarrantyExpiration" />
                    <span asp-validation-for="WarrantyExpiration" class="text-danger"></span>
                </div>
                <div class="create-footer">
                    <button type="submit" class="btn btn-success mx-2"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                    <a asp-action="Index" class="btn btn-secondary mx-2"><i class="fa-solid fa-backward"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
