@model CMDB.ViewModels.PagerViewModel
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.Routing
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@{
    var urlHelper = ((IUrlHelperFactory)ViewContext.HttpContext.RequestServices.GetService(typeof(IUrlHelperFactory)))
        .GetUrlHelper(ViewContext);

    var pageSizeOptionsHtml = new System.Text.StringBuilder();
    foreach (var size in Model.PageSizeOptions)
    {
        var selectedAttribute = size == Model.PageSize ? "selected=\"selected\"" : string.Empty;
        pageSizeOptionsHtml.Append($"<option value=\"{size}\" {selectedAttribute}>{size}</option>");
    }
}

<form id="pageSizeForm" method="get" action="@urlHelper.Action(ViewContext.RouteData.Values["action"].ToString())" class="d-flex align-items-center">
    <label for="pageSize" class="me-2 mb-0">Items per page:</label>
    <select id="pageSize" name="pageSize" class="form-select w-auto" onchange="document.getElementById('pageSizeForm').submit();">
        @Html.Raw(pageSizeOptionsHtml.ToString())
    </select>
    <input type="hidden" name="page" value="@Model.PageNumber" />
</form>
