@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Roles</h2>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Role Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>

<a href="/User/CreateRole" class="btn btn-success">
    <i class="fas fa-plus-circle"></i> Create New Role
</a>
