@model CMDB.Models.PracownicyViewModel

@{
    ViewData["Title"] = "Employees Module - Create";
    var errorMessage = TempData["errorMessage"]?.ToString();
}


<h1>@ViewData["Title"]</h1>
<hr />

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

}

<form action="Create" method="post">
    <div class="mb-3">
        <label class = "form-label">Imie</label>
        <input type="text" class="form-control" asp-for="Imie" />
        <span asp-validation-for="Imie" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Nazwisko</label>
        <input type="text" class="form-control" asp-for="Nazwisko" />
        <span asp-validation-for="Nazwisko" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Stanowisko</label>
        <input type="text" class="form-control" asp-for="Stanowisko" />
        <span asp-validation-for="Stanowisko" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Data Zatrudnienia</label>
        <input type="date" class="form-control" asp-for="DataZatrudnienia" />
        <span asp-validation-for="DataZatrudnienia" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Telefon</label>
        <input type="text" class="form-control" asp-for="Telefon" />
        <span asp-validation-for="Telefon" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>