@model CMDB.Models.DBEntities.EmployeesViewModel

@{
    ViewData["Title"] = "Employees Module - Create";
    var errorMessage = TempData["errorMessage"]?.ToString();
}


<h1>@ViewData["Title"]</h1>
<hr />

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

}

<form action="Create" method="post">
    <div class="mb-3">
        <label class = "form-label">Imie</label>
        <input type="text" class="form-control" asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Nazwisko</label>
        <input type="text" class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>