@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card-body {
        height: 250px; /* Set a fixed height for all card bodies 
    }
</style>


<div class="centered-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Employees</h5>
                        <p class="card-text">
                            This module allows you to manage employee records within your organization, including their personal information, roles, and responsibilities.</p>
                        <a class="btn btn-secondary" asp-area="" asp-controller="Employees" asp-action="Index">Go to Employees Module</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Computers</h5>
                        <p class="card-text">The Computers module enables you to track and manage all computer hardware assets within your organization, including desktops, laptops, and workstations.</p>
                        <a href="#" class="btn btn-secondary">Go to Computers Module</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Phones</h5>
                        <p class="card-text">With the Phones module, you can manage all telecommunications devices, such as mobile phones and office phones, including tracking their assignments and configurations.</p>
                        <a href="#" class="btn btn-secondary">Go to Phones Module</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Accessories</h5>
                        <p class="card-text">This module facilitates the management of computer accessories and peripherals, such as monitors, keyboards, mice, and other hardware components.</p>
                        <a href="#" class="btn btn-secondary">Go to Accessories Module</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Servers</h5>
                        <p class="card-text">The Servers module allows you to monitor and manage all server hardware and configurations within your IT infrastructure, ensuring smooth operation and optimal performance.</p>
                        <a href="#" class="btn btn-secondary">Go to Servers Module</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">IT Infrastructure</h5>
                        <p class="card-text">The IT Infrastructure module provides a comprehensive view of your organization's entire IT infrastructure, including networks, databases, and software applications, allowing for effective monitoring, maintenance, and troubleshooting.</p>
                        <a href="#" class="btn btn-secondary">Go to IT Infrastructure Module 6</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
