@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card-body {
        height: 250px; /* Set a fixed height for all card bodies 
    }
</style>


<div class="centered-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Employees</h5>
                        <p class="card-text">
                            This module allows you to manage employee records within your organization.</p>
                        <a class="btn btn-secondary" asp-area="" asp-controller="Employees" asp-action="Index">Go to Employees Module</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Computers</h5>
                        <p class="card-text">The Computers module enables you to track and manage all computer hardware assets within your organization.</p>
                        <a asp-area="" asp-controller="Computers" asp-action="Index" class="btn btn-secondary">Go to Computers Module</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Phones</h5>
                        <p class="card-text">In the Phones module you can manage all telecommunications devices, such as mobile phones.</p>
                        <a asp-area="" asp-controller="Phones" asp-action="Index" class="btn btn-secondary">Go to Phones Module</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Accessories</h5>
                        <p class="card-text">This module provides the management of computer accessories and peripherals, such as monitors, keyboards or mices.</p>
                        <a asp-area="" asp-controller="Accessories" asp-action="Index" class="btn btn-secondary">Go to Accessories Module</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Servers</h5>
                        <p class="card-text">The Servers module allows you to manage all server configurations within your infrastructure.</p>
                        <a asp-area="" asp-controller="Servers" asp-action="Index" class="btn btn-secondary">Go to Servers Module</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">IT Infrastructure</h5>
                        <p class="card-text">The IT Infrastructure module provides view of your organization's entire IT infrastructure, allowing for effective monitoring, maintenance, and troubleshooting.</p>
                        <a asp-area="" asp-controller="Infrastructure" asp-action="Index" class="btn btn-secondary">Go to IT Infrastructure Module</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
